---
const {nom_maison, nbChambres, nbSdb, prix, surface, favori, imgUrl} = Astro.props;
const offre = Astro.props;

---

<div x-data={`{favori: ${favori}}`} x-bind:class="{'bg-pink-700': favori}" class="p-4 m-4 border border-gray-200 rounded-lg">
   <img src={imgUrl} alt={nom_maison} class="w-full h-48 object-cover rounded-lg">
    <h2>{nom_maison}</h2>
 <!-- <p class="">{nbChambres} chambres</p>
    <p class="">{nbSdb} Sdb</p>
    <p class="">{prix}$</p>
    <p class="">{surface} m²</p> -->   
    <button @click="clickFavori">
      <img :src="favori ? '/favorite_filled.png' : '/favorite.png'" alt="Favorite Icon" class="w-6 h-6" />
  </button>
  <a href={`/offres/${offre.id}`} class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded">Voir plus</a>
</div>

<button 
        class="absolute bottom-0 left-0 p-2 text-white rounded-br-lg" 
        @click="clickFavori"
    >
        <img 
            :src="favori ? '/favorite_filled.png' : '/favorite.png'" 
            alt="Favorite Icon" 
            class="w-6 h-6"
        />
    </button>


<script>
   //@ts-nocheck
   import { setFavori } from "/src/backend.mjs";
   window.setFavori = setFavori;
</script>